* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubick', sans-serif;
}

:root {
  --color-header-strip: #44403c;
  --color-header-border: #cbd5e1;
  --color-header-upper: #57534e;
  --color-search-button: #422006;
  --color-header-bottom: #78716c;
  --color-header-hover: #ffc107;
  --color-header-wrapper-2: #f5f5f7;
}

a {
  text-decoration: none;
  display: inline-block;
}

